<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a
    routerLinkActive="active"
    [routerLink]="['']"
    class="navbar-brand" >Chat Group</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          routerLinkActive="active"
          [routerLink]="['listegroupe']"
          class="nav-link waves-light" mdbWavesEffect
        >Liste de groupes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a
          *ngIf="authService.isAuthenticated()"
          routerLinkActive="active"
          [routerLink]="['ajoutgroupe']"
          class="nav-link waves-light" mdbWavesEffect>Ajoutez groupe</a>
      </li>
      <li
        *ngIf="authService.isAuthenticated()"
        routerLinkActive="active"
        [routerLink]="['profile']"
        class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Profile</a>
      </li>


    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
<!--              <a-->
<!--                *ngIf="!authService.isAuthenticated()"-->
<!--                routerLinkActive="active"-->
<!--                [routerLink]="['login']"-->
<!--                class="dropdown-item" >Login</a>-->
              <a
                *ngIf="!authService.isAuthenticated()"
                routerLinkActive="active"
                [routerLink]="['registre']"
                class="dropdown-item" >Créez une compte</a>
              <a
                *ngIf="authService.isAuthenticated()"
                (click)="logOut()"
                class="dropdown-item" >Déconnectez</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
